<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FenixExecutable" value="FenixSystem" />
    <add key="logFilePath" value="FNX2PLD.log" />
    <add key="logLevel" value="Debug" />
    <add key="waitForConnect" value="false" />
    <add key="ignoreCurrentAC" value="true" />
    <add key="offsetBase" value="0x5408" />
    <add key="updateIntervall" value="50" />
    <add key="waitReady" value="25" />
    <add key="waitTick" value="5" />
  </appSettings>
</configuration>
