<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FenixExecutable" value="FenixSystem" />
    <add key="logFilePath" value="FNX2PLD.log" />
    <add key="logLevel" value="Debug" />
    <add key="waitForConnect" value="false" />
    <add key="offsetBase" value="0x5408" />
    <add key="rawValues" value="false" />
    <add key="updateIntervall" value="50" />
    <add key="altScaleDelim" value=" "/>
  </appSettings>
</configuration>
